<div class="vue-pixel-art"></div>
<style>
.vue-pixel-art::before {
  content: "";
  position: absolute;
  top: -64px;
  left: -64px;
  width: 64px;
  height: 64px;
  background: transparent;
  box-shadow: 1408px 128px 0 rgb(0, 0, 0), 
1472px 128px 0 rgb(0, 0, 0), 
1536px 128px 0 rgb(0, 0, 0), 
1088px 192px 0 rgb(0, 0, 0), 
1152px 192px 0 rgb(0, 0, 0), 
1216px 192px 0 rgb(0, 0, 0), 
1408px 192px 0 rgb(0, 0, 0), 
1472px 192px 0 rgb(255, 162, 0), 
1536px 192px 0 rgb(0, 0, 0), 
1088px 256px 0 rgb(0, 0, 0), 
1152px 256px 0 rgb(255, 162, 0), 
1216px 256px 0 rgb(0, 0, 0), 
1280px 256px 0 rgb(0, 0, 0), 
1472px 256px 0 rgb(0, 0, 0), 
1536px 256px 0 rgb(255, 162, 0), 
1600px 256px 0 rgb(0, 0, 0), 
1152px 320px 0 rgb(0, 0, 0), 
1216px 320px 0 rgb(255, 162, 0), 
1280px 320px 0 rgb(0, 0, 0), 
1344px 320px 0 rgb(0, 0, 0), 
1536px 320px 0 rgb(0, 0, 0), 
1600px 320px 0 rgb(255, 162, 0), 
1664px 320px 0 rgb(0, 0, 0), 
832px 384px 0 rgb(0, 0, 0), 
896px 384px 0 rgb(0, 0, 0), 
960px 384px 0 rgb(0, 0, 0), 
1152px 384px 0 rgb(0, 0, 0), 
1216px 384px 0 rgb(0, 0, 0), 
1280px 384px 0 rgb(255, 162, 0), 
1344px 384px 0 rgb(0, 0, 0), 
1536px 384px 0 rgb(0, 0, 0), 
1600px 384px 0 rgb(0, 0, 0), 
1664px 384px 0 rgb(255, 162, 0), 
1728px 384px 0 rgb(0, 0, 0), 
832px 448px 0 rgb(0, 0, 0), 
896px 448px 0 rgb(255, 162, 0), 
960px 448px 0 rgb(0, 0, 0), 
1024px 448px 0 rgb(0, 0, 0), 
1216px 448px 0 rgb(0, 0, 0), 
1280px 448px 0 rgb(0, 0, 0), 
1344px 448px 0 rgb(255, 162, 0), 
1408px 448px 0 rgb(0, 0, 0), 
1600px 448px 0 rgb(0, 0, 0), 
1664px 448px 0 rgb(255, 162, 0), 
1728px 448px 0 rgb(0, 0, 0), 
832px 512px 0 rgb(0, 0, 0), 
896px 512px 0 rgb(0, 0, 0), 
960px 512px 0 rgb(255, 162, 0), 
1024px 512px 0 rgb(0, 0, 0), 
1280px 512px 0 rgb(0, 0, 0), 
1344px 512px 0 rgb(255, 162, 0), 
1408px 512px 0 rgb(0, 0, 0), 
1472px 512px 0 rgb(0, 0, 0), 
1536px 512px 0 rgb(0, 0, 0), 
1600px 512px 0 rgb(0, 0, 0), 
1664px 512px 0 rgb(0, 0, 0), 
1728px 512px 0 rgb(0, 0, 0), 
1792px 512px 0 rgb(0, 0, 0), 
896px 576px 0 rgb(0, 0, 0), 
960px 576px 0 rgb(0, 0, 0), 
1024px 576px 0 rgb(255, 162, 0), 
1088px 576px 0 rgb(0, 0, 0), 
1280px 576px 0 rgb(0, 0, 0), 
1344px 576px 0 rgb(0, 0, 0), 
1408px 576px 0 rgb(0, 0, 0), 
1472px 576px 0 rgb(73, 170, 16), 
1536px 576px 0 rgb(73, 170, 16), 
1600px 576px 0 rgb(73, 170, 16), 
1664px 576px 0 rgb(56, 109, 0), 
1728px 576px 0 rgb(73, 170, 16), 
1792px 576px 0 rgb(73, 170, 16), 
1856px 576px 0 rgb(0, 0, 0), 
1920px 576px 0 rgb(0, 0, 0), 
960px 640px 0 rgb(0, 0, 0), 
1024px 640px 0 rgb(255, 162, 0), 
1088px 640px 0 rgb(255, 162, 0), 
1152px 640px 0 rgb(0, 0, 0), 
1216px 640px 0 rgb(0, 0, 0), 
1280px 640px 0 rgb(0, 0, 0), 
1344px 640px 0 rgb(56, 109, 0), 
1408px 640px 0 rgb(73, 170, 16), 
1472px 640px 0 rgb(73, 170, 16), 
1536px 640px 0 rgb(73, 170, 16), 
1600px 640px 0 rgb(73, 170, 16), 
1664px 640px 0 rgb(73, 170, 16), 
1728px 640px 0 rgb(56, 109, 0), 
1792px 640px 0 rgb(73, 170, 16), 
1856px 640px 0 rgb(73, 170, 16), 
1920px 640px 0 rgb(73, 170, 16), 
1984px 640px 0 rgb(0, 0, 0), 
960px 704px 0 rgb(0, 0, 0), 
1024px 704px 0 rgb(0, 0, 0), 
1088px 704px 0 rgb(255, 162, 0), 
1152px 704px 0 rgb(0, 0, 0), 
1216px 704px 0 rgb(73, 170, 16), 
1280px 704px 0 rgb(73, 170, 16), 
1344px 704px 0 rgb(73, 170, 16), 
1408px 704px 0 rgb(56, 109, 0), 
1472px 704px 0 rgb(73, 170, 16), 
1536px 704px 0 rgb(73, 170, 16), 
1600px 704px 0 rgb(73, 170, 16), 
1664px 704px 0 rgb(73, 170, 16), 
1728px 704px 0 rgb(56, 109, 0), 
1792px 704px 0 rgb(73, 170, 16), 
1856px 704px 0 rgb(73, 170, 16), 
1920px 704px 0 rgb(73, 170, 16), 
1984px 704px 0 rgb(73, 170, 16), 
2048px 704px 0 rgb(0, 0, 0), 
1024px 768px 0 rgb(0, 0, 0), 
1088px 768px 0 rgb(0, 0, 0), 
1152px 768px 0 rgb(73, 170, 16), 
1216px 768px 0 rgb(73, 170, 16), 
1280px 768px 0 rgb(73, 170, 16), 
1344px 768px 0 rgb(73, 170, 16), 
1408px 768px 0 rgb(56, 109, 0), 
1472px 768px 0 rgb(73, 170, 16), 
1536px 768px 0 rgb(73, 170, 16), 
1600px 768px 0 rgb(73, 170, 16), 
1664px 768px 0 rgb(73, 170, 16), 
1728px 768px 0 rgb(73, 170, 16), 
1792px 768px 0 rgb(56, 109, 0), 
1856px 768px 0 rgb(73, 170, 16), 
1920px 768px 0 rgb(73, 170, 16), 
1984px 768px 0 rgb(73, 170, 16), 
2048px 768px 0 rgb(0, 0, 0), 
1088px 832px 0 rgb(0, 0, 0), 
1152px 832px 0 rgb(56, 109, 0), 
1216px 832px 0 rgb(73, 170, 16), 
1280px 832px 0 rgb(73, 170, 16), 
1344px 832px 0 rgb(73, 170, 16), 
1408px 832px 0 rgb(73, 170, 16), 
1472px 832px 0 rgb(56, 109, 0), 
1536px 832px 0 rgb(73, 170, 16), 
1600px 832px 0 rgb(73, 170, 16), 
1664px 832px 0 rgb(73, 170, 16), 
1728px 832px 0 rgb(73, 170, 16), 
1792px 832px 0 rgb(56, 109, 0), 
1856px 832px 0 rgb(73, 170, 16), 
1920px 832px 0 rgb(73, 170, 16), 
1984px 832px 0 rgb(73, 170, 16), 
2048px 832px 0 rgb(73, 170, 16), 
2112px 832px 0 rgb(0, 0, 0), 
1024px 896px 0 rgb(0, 0, 0), 
1088px 896px 0 rgb(73, 170, 16), 
1152px 896px 0 rgb(56, 109, 0), 
1216px 896px 0 rgb(73, 170, 16), 
1280px 896px 0 rgb(73, 170, 16), 
1344px 896px 0 rgb(73, 170, 16), 
1408px 896px 0 rgb(73, 170, 16), 
1472px 896px 0 rgb(56, 109, 0), 
1536px 896px 0 rgb(73, 170, 16), 
1600px 896px 0 rgb(73, 170, 16), 
1664px 896px 0 rgb(73, 170, 16), 
1728px 896px 0 rgb(73, 170, 16), 
1792px 896px 0 rgb(73, 170, 16), 
1856px 896px 0 rgb(56, 109, 0), 
1920px 896px 0 rgb(73, 170, 16), 
1984px 896px 0 rgb(73, 170, 16), 
2048px 896px 0 rgb(73, 170, 16), 
2112px 896px 0 rgb(0, 0, 0), 
1024px 960px 0 rgb(0, 0, 0), 
1088px 960px 0 rgb(73, 170, 16), 
1152px 960px 0 rgb(73, 170, 16), 
1216px 960px 0 rgb(56, 109, 0), 
1280px 960px 0 rgb(73, 170, 16), 
1344px 960px 0 rgb(73, 170, 16), 
1408px 960px 0 rgb(73, 170, 16), 
1472px 960px 0 rgb(73, 170, 16), 
1536px 960px 0 rgb(56, 109, 0), 
1600px 960px 0 rgb(73, 170, 16), 
1664px 960px 0 rgb(73, 170, 16), 
1728px 960px 0 rgb(73, 170, 16), 
1792px 960px 0 rgb(73, 170, 16), 
1856px 960px 0 rgb(56, 109, 0), 
1920px 960px 0 rgb(73, 170, 16), 
1984px 960px 0 rgb(73, 170, 16), 
2048px 960px 0 rgb(73, 170, 16), 
2112px 960px 0 rgb(73, 170, 16), 
2176px 960px 0 rgb(0, 0, 0), 
2816px 960px 0 rgb(0, 0, 0), 
2880px 960px 0 rgb(0, 0, 0), 
2944px 960px 0 rgb(0, 0, 0), 
3008px 960px 0 rgb(0, 0, 0), 
3072px 960px 0 rgb(0, 0, 0), 
1024px 1024px 0 rgb(0, 0, 0), 
1088px 1024px 0 rgb(73, 170, 16), 
1152px 1024px 0 rgb(73, 170, 16), 
1216px 1024px 0 rgb(56, 109, 0), 
1280px 1024px 0 rgb(73, 170, 16), 
1344px 1024px 0 rgb(73, 170, 16), 
1408px 1024px 0 rgb(73, 170, 16), 
1472px 1024px 0 rgb(73, 170, 16), 
1536px 1024px 0 rgb(56, 109, 0), 
1600px 1024px 0 rgb(73, 170, 16), 
1664px 1024px 0 rgb(73, 170, 16), 
1728px 1024px 0 rgb(73, 170, 16), 
1792px 1024px 0 rgb(73, 170, 16), 
1856px 1024px 0 rgb(0, 0, 0), 
1920px 1024px 0 rgb(0, 0, 0), 
1984px 1024px 0 rgb(73, 170, 16), 
2048px 1024px 0 rgb(73, 170, 16), 
2112px 1024px 0 rgb(73, 170, 16), 
2176px 1024px 0 rgb(0, 0, 0), 
2688px 1024px 0 rgb(0, 0, 0), 
2752px 1024px 0 rgb(0, 0, 0), 
2816px 1024px 0 rgb(73, 170, 16), 
2880px 1024px 0 rgb(73, 170, 16), 
2944px 1024px 0 rgb(73, 170, 16), 
3008px 1024px 0 rgb(73, 170, 16), 
3072px 1024px 0 rgb(73, 170, 16), 
3136px 1024px 0 rgb(0, 0, 0), 
1024px 1088px 0 rgb(0, 0, 0), 
1088px 1088px 0 rgb(73, 170, 16), 
1152px 1088px 0 rgb(73, 170, 16), 
1216px 1088px 0 rgb(73, 170, 16), 
1280px 1088px 0 rgb(56, 109, 0), 
1344px 1088px 0 rgb(73, 170, 16), 
1408px 1088px 0 rgb(73, 170, 16), 
1472px 1088px 0 rgb(73, 170, 16), 
1536px 1088px 0 rgb(73, 170, 16), 
1600px 1088px 0 rgb(56, 109, 0), 
1664px 1088px 0 rgb(73, 170, 16), 
1728px 1088px 0 rgb(73, 170, 16), 
1792px 1088px 0 rgb(0, 0, 0), 
1856px 1088px 0 rgb(0, 0, 0), 
1920px 1088px 0 rgb(0, 0, 0), 
1984px 1088px 0 rgb(0, 0, 0), 
2048px 1088px 0 rgb(73, 170, 16), 
2112px 1088px 0 rgb(73, 170, 16), 
2176px 1088px 0 rgb(73, 170, 16), 
2240px 1088px 0 rgb(0, 0, 0), 
2560px 1088px 0 rgb(0, 0, 0), 
2624px 1088px 0 rgb(0, 0, 0), 
2688px 1088px 0 rgb(73, 170, 16), 
2752px 1088px 0 rgb(73, 170, 16), 
2816px 1088px 0 rgb(73, 170, 16), 
2880px 1088px 0 rgb(73, 170, 16), 
2944px 1088px 0 rgb(73, 170, 16), 
3008px 1088px 0 rgb(73, 170, 16), 
3072px 1088px 0 rgb(73, 170, 16), 
3136px 1088px 0 rgb(73, 170, 16), 
3200px 1088px 0 rgb(0, 0, 0), 
1024px 1152px 0 rgb(0, 0, 0), 
1088px 1152px 0 rgb(73, 170, 16), 
1152px 1152px 0 rgb(73, 170, 16), 
1216px 1152px 0 rgb(73, 170, 16), 
1280px 1152px 0 rgb(56, 109, 0), 
1344px 1152px 0 rgb(73, 170, 16), 
1408px 1152px 0 rgb(73, 170, 16), 
1472px 1152px 0 rgb(73, 170, 16), 
1536px 1152px 0 rgb(73, 170, 16), 
1600px 1152px 0 rgb(56, 109, 0), 
1664px 1152px 0 rgb(73, 170, 16), 
1728px 1152px 0 rgb(73, 170, 16), 
1792px 1152px 0 rgb(0, 0, 0), 
1856px 1152px 0 rgb(0, 0, 0), 
1920px 1152px 0 rgb(0, 0, 0), 
1984px 1152px 0 rgb(0, 0, 0), 
2048px 1152px 0 rgb(73, 170, 16), 
2112px 1152px 0 rgb(73, 170, 16), 
2176px 1152px 0 rgb(73, 170, 16), 
2240px 1152px 0 rgb(0, 0, 0), 
2432px 1152px 0 rgb(0, 0, 0), 
2496px 1152px 0 rgb(0, 0, 0), 
2560px 1152px 0 rgb(73, 170, 16), 
2624px 1152px 0 rgb(73, 170, 16), 
2688px 1152px 0 rgb(73, 170, 16), 
2752px 1152px 0 rgb(73, 170, 16), 
2816px 1152px 0 rgb(73, 170, 16), 
2880px 1152px 0 rgb(56, 109, 0), 
2944px 1152px 0 rgb(56, 109, 0), 
3008px 1152px 0 rgb(73, 170, 16), 
3072px 1152px 0 rgb(73, 170, 16), 
3136px 1152px 0 rgb(73, 170, 16), 
3200px 1152px 0 rgb(0, 0, 0), 
1088px 1216px 0 rgb(0, 0, 0), 
1152px 1216px 0 rgb(73, 170, 16), 
1216px 1216px 0 rgb(73, 170, 16), 
1280px 1216px 0 rgb(73, 170, 16), 
1344px 1216px 0 rgb(56, 109, 0), 
1408px 1216px 0 rgb(0, 0, 0), 
1472px 1216px 0 rgb(0, 0, 0), 
1536px 1216px 0 rgb(73, 170, 16), 
1600px 1216px 0 rgb(73, 170, 16), 
1664px 1216px 0 rgb(56, 109, 0), 
1728px 1216px 0 rgb(73, 170, 16), 
1792px 1216px 0 rgb(73, 170, 16), 
1856px 1216px 0 rgb(0, 0, 0), 
1920px 1216px 0 rgb(0, 0, 0), 
1984px 1216px 0 rgb(73, 170, 16), 
2048px 1216px 0 rgb(56, 109, 0), 
2112px 1216px 0 rgb(73, 170, 16), 
2176px 1216px 0 rgb(73, 170, 16), 
2240px 1216px 0 rgb(73, 170, 16), 
2304px 1216px 0 rgb(0, 0, 0), 
2368px 1216px 0 rgb(0, 0, 0), 
2432px 1216px 0 rgb(73, 170, 16), 
2496px 1216px 0 rgb(73, 170, 16), 
2560px 1216px 0 rgb(73, 170, 16), 
2624px 1216px 0 rgb(73, 170, 16), 
2688px 1216px 0 rgb(56, 109, 0), 
2752px 1216px 0 rgb(56, 109, 0), 
2816px 1216px 0 rgb(56, 109, 0), 
2880px 1216px 0 rgb(73, 170, 16), 
2944px 1216px 0 rgb(73, 170, 16), 
3008px 1216px 0 rgb(56, 109, 0), 
3072px 1216px 0 rgb(73, 170, 16), 
3136px 1216px 0 rgb(73, 170, 16), 
3200px 1216px 0 rgb(73, 170, 16), 
3264px 1216px 0 rgb(0, 0, 0), 
1088px 1280px 0 rgb(0, 0, 0), 
1152px 1280px 0 rgb(73, 170, 16), 
1216px 1280px 0 rgb(73, 170, 16), 
1280px 1280px 0 rgb(73, 170, 16), 
1344px 1280px 0 rgb(0, 0, 0), 
1408px 1280px 0 rgb(0, 0, 0), 
1472px 1280px 0 rgb(0, 0, 0), 
1536px 1280px 0 rgb(0, 0, 0), 
1600px 1280px 0 rgb(73, 170, 16), 
1664px 1280px 0 rgb(56, 109, 0), 
1728px 1280px 0 rgb(73, 170, 16), 
1792px 1280px 0 rgb(73, 170, 16), 
1856px 1280px 0 rgb(73, 170, 16), 
1920px 1280px 0 rgb(73, 170, 16), 
1984px 1280px 0 rgb(73, 170, 16), 
2048px 1280px 0 rgb(56, 109, 0), 
2112px 1280px 0 rgb(73, 170, 16), 
2176px 1280px 0 rgb(73, 170, 16), 
2240px 1280px 0 rgb(73, 170, 16), 
2304px 1280px 0 rgb(0, 0, 0), 
2368px 1280px 0 rgb(73, 170, 16), 
2432px 1280px 0 rgb(73, 170, 16), 
2496px 1280px 0 rgb(73, 170, 16), 
2560px 1280px 0 rgb(56, 109, 0), 
2624px 1280px 0 rgb(56, 109, 0), 
2688px 1280px 0 rgb(73, 170, 16), 
2752px 1280px 0 rgb(73, 170, 16), 
2816px 1280px 0 rgb(73, 170, 16), 
2880px 1280px 0 rgb(73, 170, 16), 
2944px 1280px 0 rgb(73, 170, 16), 
3008px 1280px 0 rgb(56, 109, 0), 
3072px 1280px 0 rgb(56, 109, 0), 
3136px 1280px 0 rgb(73, 170, 16), 
3200px 1280px 0 rgb(73, 170, 16), 
3264px 1280px 0 rgb(0, 0, 0), 
1088px 1344px 0 rgb(0, 0, 0), 
1152px 1344px 0 rgb(73, 170, 16), 
1216px 1344px 0 rgb(73, 170, 16), 
1280px 1344px 0 rgb(73, 170, 16), 
1344px 1344px 0 rgb(0, 0, 0), 
1408px 1344px 0 rgb(0, 0, 0), 
1472px 1344px 0 rgb(0, 0, 0), 
1536px 1344px 0 rgb(0, 0, 0), 
1600px 1344px 0 rgb(73, 170, 16), 
1664px 1344px 0 rgb(73, 170, 16), 
1728px 1344px 0 rgb(56, 109, 0), 
1792px 1344px 0 rgb(73, 170, 16), 
1856px 1344px 0 rgb(73, 170, 16), 
1920px 1344px 0 rgb(73, 170, 16), 
1984px 1344px 0 rgb(73, 170, 16), 
2048px 1344px 0 rgb(73, 170, 16), 
2112px 1344px 0 rgb(56, 109, 0), 
2176px 1344px 0 rgb(73, 170, 16), 
2240px 1344px 0 rgb(73, 170, 16), 
2304px 1344px 0 rgb(73, 170, 16), 
2368px 1344px 0 rgb(0, 0, 0), 
2432px 1344px 0 rgb(56, 109, 0), 
2496px 1344px 0 rgb(56, 109, 0), 
2560px 1344px 0 rgb(73, 170, 16), 
2624px 1344px 0 rgb(73, 170, 16), 
2688px 1344px 0 rgb(73, 170, 16), 
2752px 1344px 0 rgb(73, 170, 16), 
2816px 1344px 0 rgb(0, 0, 0), 
2880px 1344px 0 rgb(0, 0, 0), 
2944px 1344px 0 rgb(73, 170, 16), 
3008px 1344px 0 rgb(73, 170, 16), 
3072px 1344px 0 rgb(56, 109, 0), 
3136px 1344px 0 rgb(73, 170, 16), 
3200px 1344px 0 rgb(73, 170, 16), 
3264px 1344px 0 rgb(73, 170, 16), 
3328px 1344px 0 rgb(0, 0, 0), 
1152px 1408px 0 rgb(0, 0, 0), 
1216px 1408px 0 rgb(73, 170, 16), 
1280px 1408px 0 rgb(73, 170, 16), 
1344px 1408px 0 rgb(73, 170, 16), 
1408px 1408px 0 rgb(0, 0, 0), 
1472px 1408px 0 rgb(0, 0, 0), 
1536px 1408px 0 rgb(73, 170, 16), 
1600px 1408px 0 rgb(73, 170, 16), 
1664px 1408px 0 rgb(73, 170, 16), 
1728px 1408px 0 rgb(56, 109, 0), 
1792px 1408px 0 rgb(73, 170, 16), 
1856px 1408px 0 rgb(73, 170, 16), 
1920px 1408px 0 rgb(73, 170, 16), 
1984px 1408px 0 rgb(73, 170, 16), 
2048px 1408px 0 rgb(73, 170, 16), 
2112px 1408px 0 rgb(56, 109, 0), 
2176px 1408px 0 rgb(73, 170, 16), 
2240px 1408px 0 rgb(73, 170, 16), 
2304px 1408px 0 rgb(73, 170, 16), 
2368px 1408px 0 rgb(0, 0, 0), 
2432px 1408px 0 rgb(73, 170, 16), 
2496px 1408px 0 rgb(73, 170, 16), 
2560px 1408px 0 rgb(73, 170, 16), 
2624px 1408px 0 rgb(73, 170, 16), 
2688px 1408px 0 rgb(0, 0, 0), 
2752px 1408px 0 rgb(0, 0, 0), 
2944px 1408px 0 rgb(0, 0, 0), 
3008px 1408px 0 rgb(73, 170, 16), 
3072px 1408px 0 rgb(73, 170, 16), 
3136px 1408px 0 rgb(56, 109, 0), 
3200px 1408px 0 rgb(73, 170, 16), 
3264px 1408px 0 rgb(73, 170, 16), 
3328px 1408px 0 rgb(0, 0, 0), 
1152px 1472px 0 rgb(0, 0, 0), 
1216px 1472px 0 rgb(73, 170, 16), 
1280px 1472px 0 rgb(73, 170, 16), 
1344px 1472px 0 rgb(73, 170, 16), 
1408px 1472px 0 rgb(73, 170, 16), 
1472px 1472px 0 rgb(56, 109, 0), 
1536px 1472px 0 rgb(73, 170, 16), 
1600px 1472px 0 rgb(73, 170, 16), 
1664px 1472px 0 rgb(73, 170, 16), 
1728px 1472px 0 rgb(73, 170, 16), 
1792px 1472px 0 rgb(56, 109, 0), 
1856px 1472px 0 rgb(73, 170, 16), 
1920px 1472px 0 rgb(73, 170, 16), 
1984px 1472px 0 rgb(73, 170, 16), 
2048px 1472px 0 rgb(73, 170, 16), 
2112px 1472px 0 rgb(73, 170, 16), 
2176px 1472px 0 rgb(56, 109, 0), 
2240px 1472px 0 rgb(73, 170, 16), 
2304px 1472px 0 rgb(73, 170, 16), 
2368px 1472px 0 rgb(73, 170, 16), 
2432px 1472px 0 rgb(0, 0, 0), 
2496px 1472px 0 rgb(73, 170, 16), 
2560px 1472px 0 rgb(0, 0, 0), 
2624px 1472px 0 rgb(0, 0, 0), 
2944px 1472px 0 rgb(0, 0, 0), 
3008px 1472px 0 rgb(73, 170, 16), 
3072px 1472px 0 rgb(73, 170, 16), 
3136px 1472px 0 rgb(73, 170, 16), 
3200px 1472px 0 rgb(56, 109, 0), 
3264px 1472px 0 rgb(73, 170, 16), 
3328px 1472px 0 rgb(73, 170, 16), 
3392px 1472px 0 rgb(0, 0, 0), 
1216px 1536px 0 rgb(0, 0, 0), 
1280px 1536px 0 rgb(73, 170, 16), 
1344px 1536px 0 rgb(73, 170, 16), 
1408px 1536px 0 rgb(73, 170, 16), 
1472px 1536px 0 rgb(73, 170, 16), 
1536px 1536px 0 rgb(56, 109, 0), 
1600px 1536px 0 rgb(73, 170, 16), 
1664px 1536px 0 rgb(73, 170, 16), 
1728px 1536px 0 rgb(73, 170, 16), 
1792px 1536px 0 rgb(56, 109, 0), 
1856px 1536px 0 rgb(0, 0, 0), 
1920px 1536px 0 rgb(0, 0, 0), 
1984px 1536px 0 rgb(73, 170, 16), 
2048px 1536px 0 rgb(73, 170, 16), 
2112px 1536px 0 rgb(73, 170, 16), 
2176px 1536px 0 rgb(56, 109, 0), 
2240px 1536px 0 rgb(73, 170, 16), 
2304px 1536px 0 rgb(73, 170, 16), 
2368px 1536px 0 rgb(73, 170, 16), 
2432px 1536px 0 rgb(0, 0, 0), 
2496px 1536px 0 rgb(0, 0, 0), 
3008px 1536px 0 rgb(0, 0, 0), 
3072px 1536px 0 rgb(73, 170, 16), 
3136px 1536px 0 rgb(73, 170, 16), 
3200px 1536px 0 rgb(56, 109, 0), 
3264px 1536px 0 rgb(73, 170, 16), 
3328px 1536px 0 rgb(73, 170, 16), 
3392px 1536px 0 rgb(0, 0, 0), 
448px 1600px 0 rgb(0, 0, 0), 
512px 1600px 0 rgb(0, 0, 0), 
576px 1600px 0 rgb(0, 0, 0), 
640px 1600px 0 rgb(0, 0, 0), 
1216px 1600px 0 rgb(0, 0, 0), 
1280px 1600px 0 rgb(73, 170, 16), 
1344px 1600px 0 rgb(73, 170, 16), 
1408px 1600px 0 rgb(73, 170, 16), 
1472px 1600px 0 rgb(73, 170, 16), 
1536px 1600px 0 rgb(56, 109, 0), 
1600px 1600px 0 rgb(73, 170, 16), 
1664px 1600px 0 rgb(73, 170, 16), 
1728px 1600px 0 rgb(73, 170, 16), 
1792px 1600px 0 rgb(73, 170, 16), 
1856px 1600px 0 rgb(0, 0, 0), 
1920px 1600px 0 rgb(0, 0, 0), 
1984px 1600px 0 rgb(0, 0, 0), 
2048px 1600px 0 rgb(73, 170, 16), 
2112px 1600px 0 rgb(73, 170, 16), 
2176px 1600px 0 rgb(73, 170, 16), 
2240px 1600px 0 rgb(56, 109, 0), 
2304px 1600px 0 rgb(73, 170, 16), 
2368px 1600px 0 rgb(73, 170, 16), 
2432px 1600px 0 rgb(73, 170, 16), 
2496px 1600px 0 rgb(0, 0, 0), 
3008px 1600px 0 rgb(0, 0, 0), 
3072px 1600px 0 rgb(73, 170, 16), 
3136px 1600px 0 rgb(73, 170, 16), 
3200px 1600px 0 rgb(73, 170, 16), 
3264px 1600px 0 rgb(56, 109, 0), 
3328px 1600px 0 rgb(0, 0, 0), 
384px 1664px 0 rgb(0, 0, 0), 
448px 1664px 0 rgb(56, 109, 0), 
512px 1664px 0 rgb(56, 109, 0), 
576px 1664px 0 rgb(73, 170, 16), 
640px 1664px 0 rgb(73, 170, 16), 
704px 1664px 0 rgb(0, 0, 0), 
1280px 1664px 0 rgb(0, 0, 0), 
1344px 1664px 0 rgb(73, 170, 16), 
1408px 1664px 0 rgb(73, 170, 16), 
1472px 1664px 0 rgb(73, 170, 16), 
1536px 1664px 0 rgb(73, 170, 16), 
1600px 1664px 0 rgb(56, 109, 0), 
1664px 1664px 0 rgb(73, 170, 16), 
1728px 1664px 0 rgb(73, 170, 16), 
1792px 1664px 0 rgb(73, 170, 16), 
1856px 1664px 0 rgb(0, 0, 0), 
1920px 1664px 0 rgb(0, 0, 0), 
1984px 1664px 0 rgb(0, 0, 0), 
2048px 1664px 0 rgb(73, 170, 16), 
2112px 1664px 0 rgb(73, 170, 16), 
2176px 1664px 0 rgb(73, 170, 16), 
2240px 1664px 0 rgb(56, 109, 0), 
2304px 1664px 0 rgb(73, 170, 16), 
2368px 1664px 0 rgb(73, 170, 16), 
2432px 1664px 0 rgb(73, 170, 16), 
2496px 1664px 0 rgb(0, 0, 0), 
3072px 1664px 0 rgb(0, 0, 0), 
3136px 1664px 0 rgb(0, 0, 0), 
3200px 1664px 0 rgb(0, 0, 0), 
3264px 1664px 0 rgb(0, 0, 0), 
320px 1728px 0 rgb(0, 0, 0), 
384px 1728px 0 rgb(73, 170, 16), 
448px 1728px 0 rgb(73, 170, 16), 
512px 1728px 0 rgb(73, 170, 16), 
576px 1728px 0 rgb(56, 109, 0), 
640px 1728px 0 rgb(73, 170, 16), 
704px 1728px 0 rgb(0, 0, 0), 
1216px 1728px 0 rgb(0, 0, 0), 
1280px 1728px 0 rgb(0, 0, 0), 
1344px 1728px 0 rgb(73, 170, 16), 
1408px 1728px 0 rgb(73, 170, 16), 
1472px 1728px 0 rgb(73, 170, 16), 
1536px 1728px 0 rgb(73, 170, 16), 
1600px 1728px 0 rgb(56, 109, 0), 
1664px 1728px 0 rgb(73, 170, 16), 
1728px 1728px 0 rgb(73, 170, 16), 
1792px 1728px 0 rgb(73, 170, 16), 
1856px 1728px 0 rgb(73, 170, 16), 
1920px 1728px 0 rgb(0, 0, 0), 
1984px 1728px 0 rgb(0, 0, 0), 
2048px 1728px 0 rgb(0, 0, 0), 
2112px 1728px 0 rgb(73, 170, 16), 
2176px 1728px 0 rgb(73, 170, 16), 
2240px 1728px 0 rgb(73, 170, 16), 
2304px 1728px 0 rgb(56, 109, 0), 
2368px 1728px 0 rgb(73, 170, 16), 
2432px 1728px 0 rgb(73, 170, 16), 
2496px 1728px 0 rgb(73, 170, 16), 
2560px 1728px 0 rgb(0, 0, 0), 
320px 1792px 0 rgb(0, 0, 0), 
384px 1792px 0 rgb(73, 170, 16), 
448px 1792px 0 rgb(73, 170, 16), 
512px 1792px 0 rgb(73, 170, 16), 
576px 1792px 0 rgb(56, 109, 0), 
640px 1792px 0 rgb(73, 170, 16), 
704px 1792px 0 rgb(73, 170, 16), 
768px 1792px 0 rgb(0, 0, 0), 
1088px 1792px 0 rgb(0, 0, 0), 
1152px 1792px 0 rgb(0, 0, 0), 
1216px 1792px 0 rgb(73, 170, 16), 
1280px 1792px 0 rgb(73, 170, 16), 
1344px 1792px 0 rgb(0, 0, 0), 
1408px 1792px 0 rgb(73, 170, 16), 
1472px 1792px 0 rgb(73, 170, 16), 
1536px 1792px 0 rgb(73, 170, 16), 
1600px 1792px 0 rgb(73, 170, 16), 
1664px 1792px 0 rgb(56, 109, 0), 
1728px 1792px 0 rgb(73, 170, 16), 
1792px 1792px 0 rgb(73, 170, 16), 
1856px 1792px 0 rgb(73, 170, 16), 
1920px 1792px 0 rgb(0, 0, 0), 
1984px 1792px 0 rgb(0, 0, 0), 
2048px 1792px 0 rgb(0, 0, 0), 
2112px 1792px 0 rgb(73, 170, 16), 
2176px 1792px 0 rgb(73, 170, 16), 
2240px 1792px 0 rgb(73, 170, 16), 
2304px 1792px 0 rgb(56, 109, 0), 
2368px 1792px 0 rgb(73, 170, 16), 
2432px 1792px 0 rgb(73, 170, 16), 
2496px 1792px 0 rgb(73, 170, 16), 
2560px 1792px 0 rgb(0, 0, 0), 
384px 1856px 0 rgb(0, 0, 0), 
448px 1856px 0 rgb(73, 170, 16), 
512px 1856px 0 rgb(73, 170, 16), 
576px 1856px 0 rgb(73, 170, 16), 
640px 1856px 0 rgb(56, 109, 0), 
704px 1856px 0 rgb(73, 170, 16), 
768px 1856px 0 rgb(0, 0, 0), 
960px 1856px 0 rgb(0, 0, 0), 
1024px 1856px 0 rgb(0, 0, 0), 
1088px 1856px 0 rgb(73, 170, 16), 
1152px 1856px 0 rgb(73, 170, 16), 
1216px 1856px 0 rgb(73, 170, 16), 
1280px 1856px 0 rgb(73, 170, 16), 
1344px 1856px 0 rgb(0, 0, 0), 
1408px 1856px 0 rgb(73, 170, 16), 
1472px 1856px 0 rgb(73, 170, 16), 
1536px 1856px 0 rgb(73, 170, 16), 
1600px 1856px 0 rgb(73, 170, 16), 
1664px 1856px 0 rgb(56, 109, 0), 
1728px 1856px 0 rgb(73, 170, 16), 
1792px 1856px 0 rgb(73, 170, 16), 
1856px 1856px 0 rgb(73, 170, 16), 
1920px 1856px 0 rgb(73, 170, 16), 
1984px 1856px 0 rgb(0, 0, 0), 
2048px 1856px 0 rgb(0, 0, 0), 
2112px 1856px 0 rgb(73, 170, 16), 
2176px 1856px 0 rgb(73, 170, 16), 
2240px 1856px 0 rgb(73, 170, 16), 
2304px 1856px 0 rgb(73, 170, 16), 
2368px 1856px 0 rgb(56, 109, 0), 
2432px 1856px 0 rgb(73, 170, 16), 
2496px 1856px 0 rgb(73, 170, 16), 
2560px 1856px 0 rgb(73, 170, 16), 
2624px 1856px 0 rgb(0, 0, 0), 
384px 1920px 0 rgb(0, 0, 0), 
448px 1920px 0 rgb(73, 170, 16), 
512px 1920px 0 rgb(73, 170, 16), 
576px 1920px 0 rgb(73, 170, 16), 
640px 1920px 0 rgb(56, 109, 0), 
704px 1920px 0 rgb(73, 170, 16), 
768px 1920px 0 rgb(73, 170, 16), 
832px 1920px 0 rgb(0, 0, 0), 
896px 1920px 0 rgb(0, 0, 0), 
960px 1920px 0 rgb(73, 170, 16), 
1024px 1920px 0 rgb(73, 170, 16), 
1088px 1920px 0 rgb(73, 170, 16), 
1152px 1920px 0 rgb(73, 170, 16), 
1216px 1920px 0 rgb(73, 170, 16), 
1280px 1920px 0 rgb(56, 109, 0), 
1344px 1920px 0 rgb(56, 109, 0), 
1408px 1920px 0 rgb(0, 0, 0), 
1472px 1920px 0 rgb(73, 170, 16), 
1536px 1920px 0 rgb(73, 170, 16), 
1600px 1920px 0 rgb(73, 170, 16), 
1664px 1920px 0 rgb(73, 170, 16), 
1728px 1920px 0 rgb(56, 109, 0), 
1792px 1920px 0 rgb(73, 170, 16), 
1856px 1920px 0 rgb(73, 170, 16), 
1920px 1920px 0 rgb(73, 170, 16), 
1984px 1920px 0 rgb(73, 170, 16), 
2048px 1920px 0 rgb(56, 109, 0), 
2112px 1920px 0 rgb(73, 170, 16), 
2176px 1920px 0 rgb(73, 170, 16), 
2240px 1920px 0 rgb(73, 170, 16), 
2304px 1920px 0 rgb(73, 170, 16), 
2368px 1920px 0 rgb(56, 109, 0), 
2432px 1920px 0 rgb(73, 170, 16), 
2496px 1920px 0 rgb(73, 170, 16), 
2560px 1920px 0 rgb(73, 170, 16), 
2624px 1920px 0 rgb(0, 0, 0), 
448px 1984px 0 rgb(0, 0, 0), 
512px 1984px 0 rgb(73, 170, 16), 
576px 1984px 0 rgb(73, 170, 16), 
640px 1984px 0 rgb(73, 170, 16), 
704px 1984px 0 rgb(56, 109, 0), 
768px 1984px 0 rgb(73, 170, 16), 
832px 1984px 0 rgb(73, 170, 16), 
896px 1984px 0 rgb(73, 170, 16), 
960px 1984px 0 rgb(73, 170, 16), 
1024px 1984px 0 rgb(73, 170, 16), 
1088px 1984px 0 rgb(56, 109, 0), 
1152px 1984px 0 rgb(56, 109, 0), 
1216px 1984px 0 rgb(56, 109, 0), 
1280px 1984px 0 rgb(73, 170, 16), 
1344px 1984px 0 rgb(73, 170, 16), 
1408px 1984px 0 rgb(0, 0, 0), 
1472px 1984px 0 rgb(73, 170, 16), 
1536px 1984px 0 rgb(73, 170, 16), 
1600px 1984px 0 rgb(73, 170, 16), 
1664px 1984px 0 rgb(73, 170, 16), 
1728px 1984px 0 rgb(56, 109, 0), 
1792px 1984px 0 rgb(73, 170, 16), 
1856px 1984px 0 rgb(73, 170, 16), 
1920px 1984px 0 rgb(73, 170, 16), 
1984px 1984px 0 rgb(73, 170, 16), 
2048px 1984px 0 rgb(56, 109, 0), 
2112px 1984px 0 rgb(73, 170, 16), 
2176px 1984px 0 rgb(73, 170, 16), 
2240px 1984px 0 rgb(73, 170, 16), 
2304px 1984px 0 rgb(73, 170, 16), 
2368px 1984px 0 rgb(73, 170, 16), 
2432px 1984px 0 rgb(56, 109, 0), 
2496px 1984px 0 rgb(73, 170, 16), 
2560px 1984px 0 rgb(73, 170, 16), 
2624px 1984px 0 rgb(73, 170, 16), 
2688px 1984px 0 rgb(0, 0, 0), 
448px 2048px 0 rgb(0, 0, 0), 
512px 2048px 0 rgb(73, 170, 16), 
576px 2048px 0 rgb(73, 170, 16), 
640px 2048px 0 rgb(73, 170, 16), 
704px 2048px 0 rgb(56, 109, 0), 
768px 2048px 0 rgb(73, 170, 16), 
832px 2048px 0 rgb(73, 170, 16), 
896px 2048px 0 rgb(56, 109, 0), 
960px 2048px 0 rgb(56, 109, 0), 
1024px 2048px 0 rgb(56, 109, 0), 
1088px 2048px 0 rgb(73, 170, 16), 
1152px 2048px 0 rgb(73, 170, 16), 
1216px 2048px 0 rgb(73, 170, 16), 
1280px 2048px 0 rgb(73, 170, 16), 
1344px 2048px 0 rgb(0, 0, 0), 
1408px 2048px 0 rgb(0, 0, 0), 
1472px 2048px 0 rgb(0, 0, 0), 
1536px 2048px 0 rgb(73, 170, 16), 
1600px 2048px 0 rgb(73, 170, 16), 
1664px 2048px 0 rgb(73, 170, 16), 
1728px 2048px 0 rgb(73, 170, 16), 
1792px 2048px 0 rgb(56, 109, 0), 
1856px 2048px 0 rgb(73, 170, 16), 
1920px 2048px 0 rgb(73, 170, 16), 
1984px 2048px 0 rgb(73, 170, 16), 
2048px 2048px 0 rgb(73, 170, 16), 
2112px 2048px 0 rgb(56, 109, 0), 
2176px 2048px 0 rgb(73, 170, 16), 
2240px 2048px 0 rgb(73, 170, 16), 
2304px 2048px 0 rgb(73, 170, 16), 
2368px 2048px 0 rgb(73, 170, 16), 
2432px 2048px 0 rgb(56, 109, 0), 
2496px 2048px 0 rgb(73, 170, 16), 
2560px 2048px 0 rgb(73, 170, 16), 
2624px 2048px 0 rgb(73, 170, 16), 
2688px 2048px 0 rgb(0, 0, 0), 
512px 2112px 0 rgb(0, 0, 0), 
576px 2112px 0 rgb(73, 170, 16), 
640px 2112px 0 rgb(73, 170, 16), 
704px 2112px 0 rgb(73, 170, 16), 
768px 2112px 0 rgb(56, 109, 0), 
832px 2112px 0 rgb(56, 109, 0), 
896px 2112px 0 rgb(73, 170, 16), 
960px 2112px 0 rgb(73, 170, 16), 
1024px 2112px 0 rgb(73, 170, 16), 
1088px 2112px 0 rgb(73, 170, 16), 
1152px 2112px 0 rgb(73, 170, 16), 
1216px 2112px 0 rgb(0, 0, 0), 
1280px 2112px 0 rgb(0, 0, 0), 
1472px 2112px 0 rgb(0, 0, 0), 
1536px 2112px 0 rgb(73, 170, 16), 
1600px 2112px 0 rgb(73, 170, 16), 
1664px 2112px 0 rgb(73, 170, 16), 
1728px 2112px 0 rgb(73, 170, 16), 
1792px 2112px 0 rgb(56, 109, 0), 
1856px 2112px 0 rgb(73, 170, 16), 
1920px 2112px 0 rgb(73, 170, 16), 
1984px 2112px 0 rgb(73, 170, 16), 
2048px 2112px 0 rgb(73, 170, 16), 
2112px 2112px 0 rgb(56, 109, 0), 
2176px 2112px 0 rgb(73, 170, 16), 
2240px 2112px 0 rgb(73, 170, 16), 
2304px 2112px 0 rgb(73, 170, 16), 
2368px 2112px 0 rgb(73, 170, 16), 
2432px 2112px 0 rgb(73, 170, 16), 
2496px 2112px 0 rgb(56, 109, 0), 
2560px 2112px 0 rgb(73, 170, 16), 
2624px 2112px 0 rgb(73, 170, 16), 
2688px 2112px 0 rgb(73, 170, 16), 
2752px 2112px 0 rgb(0, 0, 0), 
512px 2176px 0 rgb(0, 0, 0), 
576px 2176px 0 rgb(73, 170, 16), 
640px 2176px 0 rgb(73, 170, 16), 
704px 2176px 0 rgb(73, 170, 16), 
768px 2176px 0 rgb(73, 170, 16), 
832px 2176px 0 rgb(73, 170, 16), 
896px 2176px 0 rgb(73, 170, 16), 
960px 2176px 0 rgb(73, 170, 16), 
1024px 2176px 0 rgb(73, 170, 16), 
1088px 2176px 0 rgb(0, 0, 0), 
1152px 2176px 0 rgb(0, 0, 0), 
1536px 2176px 0 rgb(0, 0, 0), 
1600px 2176px 0 rgb(73, 170, 16), 
1664px 2176px 0 rgb(73, 170, 16), 
1728px 2176px 0 rgb(73, 170, 16), 
1792px 2176px 0 rgb(73, 170, 16), 
1856px 2176px 0 rgb(56, 109, 0), 
1920px 2176px 0 rgb(73, 170, 16), 
1984px 2176px 0 rgb(73, 170, 16), 
2048px 2176px 0 rgb(73, 170, 16), 
2112px 2176px 0 rgb(73, 170, 16), 
2176px 2176px 0 rgb(56, 109, 0), 
2240px 2176px 0 rgb(73, 170, 16), 
2304px 2176px 0 rgb(73, 170, 16), 
2368px 2176px 0 rgb(73, 170, 16), 
2432px 2176px 0 rgb(73, 170, 16), 
2496px 2176px 0 rgb(56, 109, 0), 
2560px 2176px 0 rgb(73, 170, 16), 
2624px 2176px 0 rgb(73, 170, 16), 
2688px 2176px 0 rgb(73, 170, 16), 
2752px 2176px 0 rgb(0, 0, 0), 
576px 2240px 0 rgb(0, 0, 0), 
640px 2240px 0 rgb(73, 170, 16), 
704px 2240px 0 rgb(73, 170, 16), 
768px 2240px 0 rgb(73, 170, 16), 
832px 2240px 0 rgb(73, 170, 16), 
896px 2240px 0 rgb(73, 170, 16), 
960px 2240px 0 rgb(0, 0, 0), 
1024px 2240px 0 rgb(0, 0, 0), 
1536px 2240px 0 rgb(0, 0, 0), 
1600px 2240px 0 rgb(73, 170, 16), 
1664px 2240px 0 rgb(73, 170, 16), 
1728px 2240px 0 rgb(73, 170, 16), 
1792px 2240px 0 rgb(73, 170, 16), 
1856px 2240px 0 rgb(56, 109, 0), 
1920px 2240px 0 rgb(73, 170, 16), 
1984px 2240px 0 rgb(73, 170, 16), 
2048px 2240px 0 rgb(73, 170, 16), 
2112px 2240px 0 rgb(73, 170, 16), 
2176px 2240px 0 rgb(56, 109, 0), 
2240px 2240px 0 rgb(73, 170, 16), 
2304px 2240px 0 rgb(73, 170, 16), 
2368px 2240px 0 rgb(73, 170, 16), 
2432px 2240px 0 rgb(73, 170, 16), 
2496px 2240px 0 rgb(56, 109, 0), 
2560px 2240px 0 rgb(73, 170, 16), 
2624px 2240px 0 rgb(73, 170, 16), 
2688px 2240px 0 rgb(73, 170, 16), 
2752px 2240px 0 rgb(0, 0, 0), 
640px 2304px 0 rgb(0, 0, 0), 
704px 2304px 0 rgb(0, 0, 0), 
768px 2304px 0 rgb(0, 0, 0), 
832px 2304px 0 rgb(0, 0, 0), 
896px 2304px 0 rgb(0, 0, 0), 
1600px 2304px 0 rgb(0, 0, 0), 
1664px 2304px 0 rgb(73, 170, 16), 
1728px 2304px 0 rgb(73, 170, 16), 
1792px 2304px 0 rgb(73, 170, 16), 
1856px 2304px 0 rgb(73, 170, 16), 
1920px 2304px 0 rgb(56, 109, 0), 
1984px 2304px 0 rgb(73, 170, 16), 
2048px 2304px 0 rgb(73, 170, 16), 
2112px 2304px 0 rgb(73, 170, 16), 
2176px 2304px 0 rgb(73, 170, 16), 
2240px 2304px 0 rgb(56, 109, 0), 
2304px 2304px 0 rgb(73, 170, 16), 
2368px 2304px 0 rgb(73, 170, 16), 
2432px 2304px 0 rgb(73, 170, 16), 
2496px 2304px 0 rgb(73, 170, 16), 
2560px 2304px 0 rgb(56, 109, 0), 
2624px 2304px 0 rgb(73, 170, 16), 
2688px 2304px 0 rgb(73, 170, 16), 
2752px 2304px 0 rgb(73, 170, 16), 
2816px 2304px 0 rgb(0, 0, 0), 
1600px 2368px 0 rgb(0, 0, 0), 
1664px 2368px 0 rgb(73, 170, 16), 
1728px 2368px 0 rgb(73, 170, 16), 
1792px 2368px 0 rgb(73, 170, 16), 
1856px 2368px 0 rgb(73, 170, 16), 
1920px 2368px 0 rgb(56, 109, 0), 
1984px 2368px 0 rgb(73, 170, 16), 
2048px 2368px 0 rgb(73, 170, 16), 
2112px 2368px 0 rgb(73, 170, 16), 
2176px 2368px 0 rgb(73, 170, 16), 
2240px 2368px 0 rgb(56, 109, 0), 
2304px 2368px 0 rgb(73, 170, 16), 
2368px 2368px 0 rgb(73, 170, 16), 
2432px 2368px 0 rgb(73, 170, 16), 
2496px 2368px 0 rgb(73, 170, 16), 
2560px 2368px 0 rgb(56, 109, 0), 
2624px 2368px 0 rgb(73, 170, 16), 
2688px 2368px 0 rgb(73, 170, 16), 
2752px 2368px 0 rgb(73, 170, 16), 
2816px 2368px 0 rgb(0, 0, 0), 
1664px 2432px 0 rgb(0, 0, 0), 
1728px 2432px 0 rgb(73, 170, 16), 
1792px 2432px 0 rgb(73, 170, 16), 
1856px 2432px 0 rgb(73, 170, 16), 
1920px 2432px 0 rgb(73, 170, 16), 
1984px 2432px 0 rgb(56, 109, 0), 
2048px 2432px 0 rgb(73, 170, 16), 
2112px 2432px 0 rgb(73, 170, 16), 
2176px 2432px 0 rgb(73, 170, 16), 
2240px 2432px 0 rgb(73, 170, 16), 
2304px 2432px 0 rgb(56, 109, 0), 
2368px 2432px 0 rgb(73, 170, 16), 
2432px 2432px 0 rgb(73, 170, 16), 
2496px 2432px 0 rgb(73, 170, 16), 
2560px 2432px 0 rgb(73, 170, 16), 
2624px 2432px 0 rgb(56, 109, 0), 
2688px 2432px 0 rgb(73, 170, 16), 
2752px 2432px 0 rgb(73, 170, 16), 
2816px 2432px 0 rgb(0, 0, 0), 
1664px 2496px 0 rgb(0, 0, 0), 
1728px 2496px 0 rgb(73, 170, 16), 
1792px 2496px 0 rgb(73, 170, 16), 
1856px 2496px 0 rgb(73, 170, 16), 
1920px 2496px 0 rgb(73, 170, 16), 
1984px 2496px 0 rgb(56, 109, 0), 
2048px 2496px 0 rgb(73, 170, 16), 
2112px 2496px 0 rgb(73, 170, 16), 
2176px 2496px 0 rgb(73, 170, 16), 
2240px 2496px 0 rgb(73, 170, 16), 
2304px 2496px 0 rgb(56, 109, 0), 
2368px 2496px 0 rgb(73, 170, 16), 
2432px 2496px 0 rgb(73, 170, 16), 
2496px 2496px 0 rgb(73, 170, 16), 
2560px 2496px 0 rgb(73, 170, 16), 
2624px 2496px 0 rgb(56, 109, 0), 
2688px 2496px 0 rgb(73, 170, 16), 
2752px 2496px 0 rgb(73, 170, 16), 
2816px 2496px 0 rgb(0, 0, 0), 
3648px 2496px 0 rgb(0, 0, 0), 
3712px 2496px 0 rgb(0, 0, 0), 
3776px 2496px 0 rgb(0, 0, 0), 
3840px 2496px 0 rgb(0, 0, 0), 
1728px 2560px 0 rgb(0, 0, 0), 
1792px 2560px 0 rgb(73, 170, 16), 
1856px 2560px 0 rgb(73, 170, 16), 
1920px 2560px 0 rgb(73, 170, 16), 
1984px 2560px 0 rgb(73, 170, 16), 
2048px 2560px 0 rgb(56, 109, 0), 
2112px 2560px 0 rgb(73, 170, 16), 
2176px 2560px 0 rgb(73, 170, 16), 
2240px 2560px 0 rgb(73, 170, 16), 
2304px 2560px 0 rgb(73, 170, 16), 
2368px 2560px 0 rgb(56, 109, 0), 
2432px 2560px 0 rgb(73, 170, 16), 
2496px 2560px 0 rgb(73, 170, 16), 
2560px 2560px 0 rgb(73, 170, 16), 
2624px 2560px 0 rgb(73, 170, 16), 
2688px 2560px 0 rgb(56, 109, 0), 
2752px 2560px 0 rgb(0, 0, 0), 
2816px 2560px 0 rgb(73, 170, 16), 
2880px 2560px 0 rgb(0, 0, 0), 
3520px 2560px 0 rgb(0, 0, 0), 
3584px 2560px 0 rgb(0, 0, 0), 
3648px 2560px 0 rgb(73, 170, 16), 
3712px 2560px 0 rgb(73, 170, 16), 
3776px 2560px 0 rgb(73, 170, 16), 
3840px 2560px 0 rgb(0, 0, 0), 
3904px 2560px 0 rgb(0, 0, 0), 
1664px 2624px 0 rgb(0, 0, 0), 
1728px 2624px 0 rgb(0, 0, 0), 
1792px 2624px 0 rgb(73, 170, 16), 
1856px 2624px 0 rgb(73, 170, 16), 
1920px 2624px 0 rgb(73, 170, 16), 
1984px 2624px 0 rgb(73, 170, 16), 
2048px 2624px 0 rgb(56, 109, 0), 
2112px 2624px 0 rgb(73, 170, 16), 
2176px 2624px 0 rgb(73, 170, 16), 
2240px 2624px 0 rgb(73, 170, 16), 
2304px 2624px 0 rgb(73, 170, 16), 
2368px 2624px 0 rgb(56, 109, 0), 
2432px 2624px 0 rgb(73, 170, 16), 
2496px 2624px 0 rgb(73, 170, 16), 
2560px 2624px 0 rgb(73, 170, 16), 
2624px 2624px 0 rgb(73, 170, 16), 
2688px 2624px 0 rgb(56, 109, 0), 
2752px 2624px 0 rgb(0, 0, 0), 
2816px 2624px 0 rgb(73, 170, 16), 
2880px 2624px 0 rgb(0, 0, 0), 
3456px 2624px 0 rgb(0, 0, 0), 
3520px 2624px 0 rgb(0, 0, 0), 
3584px 2624px 0 rgb(73, 170, 16), 
3648px 2624px 0 rgb(73, 170, 16), 
3712px 2624px 0 rgb(73, 170, 16), 
3776px 2624px 0 rgb(73, 170, 16), 
3840px 2624px 0 rgb(56, 109, 0), 
3904px 2624px 0 rgb(0, 0, 0), 
1600px 2688px 0 rgb(0, 0, 0), 
1664px 2688px 0 rgb(73, 170, 16), 
1728px 2688px 0 rgb(0, 0, 0), 
1792px 2688px 0 rgb(0, 0, 0), 
1856px 2688px 0 rgb(73, 170, 16), 
1920px 2688px 0 rgb(73, 170, 16), 
1984px 2688px 0 rgb(73, 170, 16), 
2048px 2688px 0 rgb(73, 170, 16), 
2112px 2688px 0 rgb(56, 109, 0), 
2176px 2688px 0 rgb(73, 170, 16), 
2240px 2688px 0 rgb(73, 170, 16), 
2304px 2688px 0 rgb(73, 170, 16), 
2368px 2688px 0 rgb(73, 170, 16), 
2432px 2688px 0 rgb(56, 109, 0), 
2496px 2688px 0 rgb(73, 170, 16), 
2560px 2688px 0 rgb(73, 170, 16), 
2624px 2688px 0 rgb(73, 170, 16), 
2688px 2688px 0 rgb(0, 0, 0), 
2752px 2688px 0 rgb(73, 170, 16), 
2816px 2688px 0 rgb(73, 170, 16), 
2880px 2688px 0 rgb(73, 170, 16), 
2944px 2688px 0 rgb(0, 0, 0), 
3328px 2688px 0 rgb(0, 0, 0), 
3392px 2688px 0 rgb(0, 0, 0), 
3456px 2688px 0 rgb(73, 170, 16), 
3520px 2688px 0 rgb(73, 170, 16), 
3584px 2688px 0 rgb(73, 170, 16), 
3648px 2688px 0 rgb(73, 170, 16), 
3712px 2688px 0 rgb(73, 170, 16), 
3776px 2688px 0 rgb(56, 109, 0), 
3840px 2688px 0 rgb(73, 170, 16), 
3904px 2688px 0 rgb(0, 0, 0), 
1472px 2752px 0 rgb(0, 0, 0), 
1536px 2752px 0 rgb(0, 0, 0), 
1600px 2752px 0 rgb(73, 170, 16), 
1664px 2752px 0 rgb(73, 170, 16), 
1728px 2752px 0 rgb(73, 170, 16), 
1792px 2752px 0 rgb(73, 170, 16), 
1856px 2752px 0 rgb(0, 0, 0), 
1920px 2752px 0 rgb(73, 170, 16), 
1984px 2752px 0 rgb(73, 170, 16), 
2048px 2752px 0 rgb(73, 170, 16), 
2112px 2752px 0 rgb(56, 109, 0), 
2176px 2752px 0 rgb(73, 170, 16), 
2240px 2752px 0 rgb(73, 170, 16), 
2304px 2752px 0 rgb(73, 170, 16), 
2368px 2752px 0 rgb(73, 170, 16), 
2432px 2752px 0 rgb(56, 109, 0), 
2496px 2752px 0 rgb(73, 170, 16), 
2560px 2752px 0 rgb(73, 170, 16), 
2624px 2752px 0 rgb(0, 0, 0), 
2688px 2752px 0 rgb(73, 170, 16), 
2752px 2752px 0 rgb(56, 109, 0), 
2816px 2752px 0 rgb(73, 170, 16), 
2880px 2752px 0 rgb(73, 170, 16), 
2944px 2752px 0 rgb(0, 0, 0), 
3200px 2752px 0 rgb(0, 0, 0), 
3264px 2752px 0 rgb(0, 0, 0), 
3328px 2752px 0 rgb(73, 170, 16), 
3392px 2752px 0 rgb(73, 170, 16), 
3456px 2752px 0 rgb(73, 170, 16), 
3520px 2752px 0 rgb(73, 170, 16), 
3584px 2752px 0 rgb(73, 170, 16), 
3648px 2752px 0 rgb(56, 109, 0), 
3712px 2752px 0 rgb(56, 109, 0), 
3776px 2752px 0 rgb(73, 170, 16), 
3840px 2752px 0 rgb(73, 170, 16), 
3904px 2752px 0 rgb(0, 0, 0), 
1344px 2816px 0 rgb(0, 0, 0), 
1408px 2816px 0 rgb(0, 0, 0), 
1472px 2816px 0 rgb(73, 170, 16), 
1536px 2816px 0 rgb(73, 170, 16), 
1600px 2816px 0 rgb(73, 170, 16), 
1664px 2816px 0 rgb(73, 170, 16), 
1728px 2816px 0 rgb(73, 170, 16), 
1792px 2816px 0 rgb(73, 170, 16), 
1856px 2816px 0 rgb(56, 109, 0), 
1920px 2816px 0 rgb(0, 0, 0), 
1984px 2816px 0 rgb(0, 0, 0), 
2048px 2816px 0 rgb(73, 170, 16), 
2112px 2816px 0 rgb(73, 170, 16), 
2176px 2816px 0 rgb(56, 109, 0), 
2240px 2816px 0 rgb(73, 170, 16), 
2304px 2816px 0 rgb(73, 170, 16), 
2368px 2816px 0 rgb(73, 170, 16), 
2432px 2816px 0 rgb(0, 0, 0), 
2496px 2816px 0 rgb(0, 0, 0), 
2560px 2816px 0 rgb(0, 0, 0), 
2624px 2816px 0 rgb(0, 0, 0), 
2688px 2816px 0 rgb(73, 170, 16), 
2752px 2816px 0 rgb(56, 109, 0), 
2816px 2816px 0 rgb(73, 170, 16), 
2880px 2816px 0 rgb(73, 170, 16), 
2944px 2816px 0 rgb(73, 170, 16), 
3008px 2816px 0 rgb(0, 0, 0), 
3072px 2816px 0 rgb(0, 0, 0), 
3136px 2816px 0 rgb(0, 0, 0), 
3200px 2816px 0 rgb(73, 170, 16), 
3264px 2816px 0 rgb(73, 170, 16), 
3328px 2816px 0 rgb(73, 170, 16), 
3392px 2816px 0 rgb(73, 170, 16), 
3456px 2816px 0 rgb(73, 170, 16), 
3520px 2816px 0 rgb(56, 109, 0), 
3584px 2816px 0 rgb(56, 109, 0), 
3648px 2816px 0 rgb(73, 170, 16), 
3712px 2816px 0 rgb(73, 170, 16), 
3776px 2816px 0 rgb(73, 170, 16), 
3840px 2816px 0 rgb(0, 0, 0), 
1280px 2880px 0 rgb(0, 0, 0), 
1344px 2880px 0 rgb(73, 170, 16), 
1408px 2880px 0 rgb(73, 170, 16), 
1472px 2880px 0 rgb(73, 170, 16), 
1536px 2880px 0 rgb(73, 170, 16), 
1600px 2880px 0 rgb(73, 170, 16), 
1664px 2880px 0 rgb(73, 170, 16), 
1728px 2880px 0 rgb(56, 109, 0), 
1792px 2880px 0 rgb(56, 109, 0), 
1856px 2880px 0 rgb(73, 170, 16), 
1920px 2880px 0 rgb(73, 170, 16), 
1984px 2880px 0 rgb(73, 170, 16), 
2048px 2880px 0 rgb(0, 0, 0), 
2112px 2880px 0 rgb(0, 0, 0), 
2176px 2880px 0 rgb(0, 0, 0), 
2240px 2880px 0 rgb(0, 0, 0), 
2304px 2880px 0 rgb(0, 0, 0), 
2368px 2880px 0 rgb(0, 0, 0), 
2560px 2880px 0 rgb(0, 0, 0), 
2624px 2880px 0 rgb(73, 170, 16), 
2688px 2880px 0 rgb(73, 170, 16), 
2752px 2880px 0 rgb(73, 170, 16), 
2816px 2880px 0 rgb(56, 109, 0), 
2880px 2880px 0 rgb(73, 170, 16), 
2944px 2880px 0 rgb(73, 170, 16), 
3008px 2880px 0 rgb(73, 170, 16), 
3072px 2880px 0 rgb(73, 170, 16), 
3136px 2880px 0 rgb(73, 170, 16), 
3200px 2880px 0 rgb(73, 170, 16), 
3264px 2880px 0 rgb(73, 170, 16), 
3328px 2880px 0 rgb(73, 170, 16), 
3392px 2880px 0 rgb(56, 109, 0), 
3456px 2880px 0 rgb(56, 109, 0), 
3520px 2880px 0 rgb(73, 170, 16), 
3584px 2880px 0 rgb(73, 170, 16), 
3648px 2880px 0 rgb(73, 170, 16), 
3712px 2880px 0 rgb(73, 170, 16), 
3776px 2880px 0 rgb(0, 0, 0), 
1216px 2944px 0 rgb(0, 0, 0), 
1280px 2944px 0 rgb(73, 170, 16), 
1344px 2944px 0 rgb(73, 170, 16), 
1408px 2944px 0 rgb(73, 170, 16), 
1472px 2944px 0 rgb(73, 170, 16), 
1536px 2944px 0 rgb(73, 170, 16), 
1600px 2944px 0 rgb(56, 109, 0), 
1664px 2944px 0 rgb(56, 109, 0), 
1728px 2944px 0 rgb(73, 170, 16), 
1792px 2944px 0 rgb(73, 170, 16), 
1856px 2944px 0 rgb(73, 170, 16), 
1920px 2944px 0 rgb(73, 170, 16), 
1984px 2944px 0 rgb(0, 0, 0), 
2048px 2944px 0 rgb(0, 0, 0), 
2560px 2944px 0 rgb(0, 0, 0), 
2624px 2944px 0 rgb(73, 170, 16), 
2688px 2944px 0 rgb(73, 170, 16), 
2752px 2944px 0 rgb(73, 170, 16), 
2816px 2944px 0 rgb(56, 109, 0), 
2880px 2944px 0 rgb(73, 170, 16), 
2944px 2944px 0 rgb(73, 170, 16), 
3008px 2944px 0 rgb(73, 170, 16), 
3072px 2944px 0 rgb(73, 170, 16), 
3136px 2944px 0 rgb(73, 170, 16), 
3200px 2944px 0 rgb(73, 170, 16), 
3264px 2944px 0 rgb(56, 109, 0), 
3328px 2944px 0 rgb(56, 109, 0), 
3392px 2944px 0 rgb(73, 170, 16), 
3456px 2944px 0 rgb(73, 170, 16), 
3520px 2944px 0 rgb(73, 170, 16), 
3584px 2944px 0 rgb(73, 170, 16), 
3648px 2944px 0 rgb(0, 0, 0), 
3712px 2944px 0 rgb(0, 0, 0), 
1216px 3008px 0 rgb(0, 0, 0), 
1280px 3008px 0 rgb(73, 170, 16), 
1344px 3008px 0 rgb(73, 170, 16), 
1408px 3008px 0 rgb(73, 170, 16), 
1472px 3008px 0 rgb(56, 109, 0), 
1536px 3008px 0 rgb(56, 109, 0), 
1600px 3008px 0 rgb(73, 170, 16), 
1664px 3008px 0 rgb(73, 170, 16), 
1728px 3008px 0 rgb(73, 170, 16), 
1792px 3008px 0 rgb(73, 170, 16), 
1856px 3008px 0 rgb(0, 0, 0), 
1920px 3008px 0 rgb(0, 0, 0), 
2624px 3008px 0 rgb(0, 0, 0), 
2688px 3008px 0 rgb(73, 170, 16), 
2752px 3008px 0 rgb(73, 170, 16), 
2816px 3008px 0 rgb(73, 170, 16), 
2880px 3008px 0 rgb(56, 109, 0), 
2944px 3008px 0 rgb(73, 170, 16), 
3008px 3008px 0 rgb(73, 170, 16), 
3072px 3008px 0 rgb(73, 170, 16), 
3136px 3008px 0 rgb(56, 109, 0), 
3200px 3008px 0 rgb(56, 109, 0), 
3264px 3008px 0 rgb(73, 170, 16), 
3328px 3008px 0 rgb(73, 170, 16), 
3392px 3008px 0 rgb(73, 170, 16), 
3456px 3008px 0 rgb(73, 170, 16), 
3520px 3008px 0 rgb(0, 0, 0), 
3584px 3008px 0 rgb(0, 0, 0), 
1216px 3072px 0 rgb(0, 0, 0), 
1280px 3072px 0 rgb(73, 170, 16), 
1344px 3072px 0 rgb(73, 170, 16), 
1408px 3072px 0 rgb(56, 109, 0), 
1472px 3072px 0 rgb(73, 170, 16), 
1536px 3072px 0 rgb(73, 170, 16), 
1600px 3072px 0 rgb(73, 170, 16), 
1664px 3072px 0 rgb(73, 170, 16), 
1728px 3072px 0 rgb(0, 0, 0), 
1792px 3072px 0 rgb(0, 0, 0), 
2624px 3072px 0 rgb(0, 0, 0), 
2688px 3072px 0 rgb(73, 170, 16), 
2752px 3072px 0 rgb(73, 170, 16), 
2816px 3072px 0 rgb(73, 170, 16), 
2880px 3072px 0 rgb(73, 170, 16), 
2944px 3072px 0 rgb(56, 109, 0), 
3008px 3072px 0 rgb(56, 109, 0), 
3072px 3072px 0 rgb(56, 109, 0), 
3136px 3072px 0 rgb(73, 170, 16), 
3200px 3072px 0 rgb(73, 170, 16), 
3264px 3072px 0 rgb(73, 170, 16), 
3328px 3072px 0 rgb(73, 170, 16), 
3392px 3072px 0 rgb(0, 0, 0), 
3456px 3072px 0 rgb(0, 0, 0), 
1216px 3136px 0 rgb(0, 0, 0), 
1280px 3136px 0 rgb(73, 170, 16), 
1344px 3136px 0 rgb(73, 170, 16), 
1408px 3136px 0 rgb(56, 109, 0), 
1472px 3136px 0 rgb(73, 170, 16), 
1536px 3136px 0 rgb(73, 170, 16), 
1600px 3136px 0 rgb(73, 170, 16), 
1664px 3136px 0 rgb(0, 0, 0), 
2688px 3136px 0 rgb(0, 0, 0), 
2752px 3136px 0 rgb(73, 170, 16), 
2816px 3136px 0 rgb(73, 170, 16), 
2880px 3136px 0 rgb(73, 170, 16), 
2944px 3136px 0 rgb(73, 170, 16), 
3008px 3136px 0 rgb(73, 170, 16), 
3072px 3136px 0 rgb(73, 170, 16), 
3136px 3136px 0 rgb(73, 170, 16), 
3200px 3136px 0 rgb(73, 170, 16), 
3264px 3136px 0 rgb(0, 0, 0), 
3328px 3136px 0 rgb(0, 0, 0), 
1216px 3200px 0 rgb(0, 0, 0), 
1280px 3200px 0 rgb(73, 170, 16), 
1344px 3200px 0 rgb(73, 170, 16), 
1408px 3200px 0 rgb(73, 170, 16), 
1472px 3200px 0 rgb(56, 109, 0), 
1536px 3200px 0 rgb(73, 170, 16), 
1600px 3200px 0 rgb(73, 170, 16), 
1664px 3200px 0 rgb(0, 0, 0), 
2752px 3200px 0 rgb(0, 0, 0), 
2816px 3200px 0 rgb(73, 170, 16), 
2880px 3200px 0 rgb(73, 170, 16), 
2944px 3200px 0 rgb(73, 170, 16), 
3008px 3200px 0 rgb(73, 170, 16), 
3072px 3200px 0 rgb(73, 170, 16), 
3136px 3200px 0 rgb(0, 0, 0), 
3200px 3200px 0 rgb(0, 0, 0), 
1280px 3264px 0 rgb(0, 0, 0), 
1344px 3264px 0 rgb(73, 170, 16), 
1408px 3264px 0 rgb(73, 170, 16), 
1472px 3264px 0 rgb(56, 109, 0), 
1536px 3264px 0 rgb(73, 170, 16), 
1600px 3264px 0 rgb(73, 170, 16), 
1664px 3264px 0 rgb(73, 170, 16), 
1728px 3264px 0 rgb(0, 0, 0), 
2816px 3264px 0 rgb(0, 0, 0), 
2880px 3264px 0 rgb(0, 0, 0), 
2944px 3264px 0 rgb(0, 0, 0), 
3008px 3264px 0 rgb(0, 0, 0), 
3072px 3264px 0 rgb(0, 0, 0), 
1280px 3328px 0 rgb(0, 0, 0), 
1344px 3328px 0 rgb(73, 170, 16), 
1408px 3328px 0 rgb(73, 170, 16), 
1472px 3328px 0 rgb(73, 170, 16), 
1536px 3328px 0 rgb(56, 109, 0), 
1600px 3328px 0 rgb(73, 170, 16), 
1664px 3328px 0 rgb(73, 170, 16), 
1728px 3328px 0 rgb(73, 170, 16), 
1792px 3328px 0 rgb(0, 0, 0), 
1344px 3392px 0 rgb(0, 0, 0), 
1408px 3392px 0 rgb(73, 170, 16), 
1472px 3392px 0 rgb(73, 170, 16), 
1536px 3392px 0 rgb(56, 109, 0), 
1600px 3392px 0 rgb(73, 170, 16), 
1664px 3392px 0 rgb(73, 170, 16), 
1728px 3392px 0 rgb(73, 170, 16), 
1792px 3392px 0 rgb(0, 0, 0), 
1344px 3456px 0 rgb(0, 0, 0), 
1408px 3456px 0 rgb(73, 170, 16), 
1472px 3456px 0 rgb(73, 170, 16), 
1536px 3456px 0 rgb(73, 170, 16), 
1600px 3456px 0 rgb(56, 109, 0), 
1664px 3456px 0 rgb(73, 170, 16), 
1728px 3456px 0 rgb(73, 170, 16), 
1792px 3456px 0 rgb(73, 170, 16), 
1856px 3456px 0 rgb(0, 0, 0), 
1408px 3520px 0 rgb(0, 0, 0), 
1472px 3520px 0 rgb(73, 170, 16), 
1536px 3520px 0 rgb(73, 170, 16), 
1600px 3520px 0 rgb(56, 109, 0), 
1664px 3520px 0 rgb(73, 170, 16), 
1728px 3520px 0 rgb(73, 170, 16), 
1792px 3520px 0 rgb(73, 170, 16), 
1856px 3520px 0 rgb(0, 0, 0), 
1408px 3584px 0 rgb(0, 0, 0), 
1472px 3584px 0 rgb(73, 170, 16), 
1536px 3584px 0 rgb(73, 170, 16), 
1600px 3584px 0 rgb(73, 170, 16), 
1664px 3584px 0 rgb(56, 109, 0), 
1728px 3584px 0 rgb(73, 170, 16), 
1792px 3584px 0 rgb(73, 170, 16), 
1856px 3584px 0 rgb(73, 170, 16), 
1920px 3584px 0 rgb(0, 0, 0), 
1472px 3648px 0 rgb(0, 0, 0), 
1536px 3648px 0 rgb(73, 170, 16), 
1600px 3648px 0 rgb(73, 170, 16), 
1664px 3648px 0 rgb(56, 109, 0), 
1728px 3648px 0 rgb(73, 170, 16), 
1792px 3648px 0 rgb(73, 170, 16), 
1856px 3648px 0 rgb(73, 170, 16), 
1920px 3648px 0 rgb(0, 0, 0), 
1472px 3712px 0 rgb(0, 0, 0), 
1536px 3712px 0 rgb(73, 170, 16), 
1600px 3712px 0 rgb(73, 170, 16), 
1664px 3712px 0 rgb(73, 170, 16), 
1728px 3712px 0 rgb(56, 109, 0), 
1792px 3712px 0 rgb(73, 170, 16), 
1856px 3712px 0 rgb(73, 170, 16), 
1920px 3712px 0 rgb(73, 170, 16), 
1984px 3712px 0 rgb(0, 0, 0), 
1536px 3776px 0 rgb(0, 0, 0), 
1600px 3776px 0 rgb(73, 170, 16), 
1664px 3776px 0 rgb(73, 170, 16), 
1728px 3776px 0 rgb(56, 109, 0), 
1792px 3776px 0 rgb(73, 170, 16), 
1856px 3776px 0 rgb(73, 170, 16), 
1920px 3776px 0 rgb(73, 170, 16), 
1984px 3776px 0 rgb(0, 0, 0), 
1536px 3840px 0 rgb(0, 0, 0), 
1600px 3840px 0 rgb(73, 170, 16), 
1664px 3840px 0 rgb(73, 170, 16), 
1728px 3840px 0 rgb(73, 170, 16), 
1792px 3840px 0 rgb(56, 109, 0), 
1856px 3840px 0 rgb(73, 170, 16), 
1920px 3840px 0 rgb(73, 170, 16), 
1984px 3840px 0 rgb(0, 0, 0), 
1600px 3904px 0 rgb(0, 0, 0), 
1664px 3904px 0 rgb(73, 170, 16), 
1728px 3904px 0 rgb(73, 170, 16), 
1792px 3904px 0 rgb(56, 109, 0), 
1856px 3904px 0 rgb(73, 170, 16), 
1920px 3904px 0 rgb(0, 0, 0), 
1664px 3968px 0 rgb(0, 0, 0), 
1728px 3968px 0 rgb(0, 0, 0), 
1792px 3968px 0 rgb(0, 0, 0), 
1856px 3968px 0 rgb(0, 0, 0);
}
</style>