h1 {
	color:#DB0000;
	font-size:40px;
	text-align:center;
	background-color:#403f3f;
	margin:0;
    padding:0;
}

h3 {
	border-radius: 5px;
	text-align: center;
}

body {
	background-color:#232323;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
}

p {
	padding-left: 10%;
	font-family: "Lucida Console";
}

div.images {
	text-align: center;
}

div.links {
	display: block;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

div.audio {
	text-align: center;
}

div.video {
	text-align: center;
}

/* Style the header */
.header {
	background-color: #0f0f0f;
	padding: 20px;
	text-align: center;
}

/* Style the top navigation bar */
.topnav {
	overflow: hidden;
	background-color: #403f3f;
    margin:0;
    padding:0;
}

/* Style the topnav links */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
	background-color: gray;
	color: black;
}